@font-face {
   font-family: alfa_slab;
   src: url(/fonts/alfaslab/alfaslabone-regular-webfont.woff);
}
@font-face {
   font-family: fira_sans;
   src: url(/fonts/firasans/firasans-regular-webfont.woff);
}