---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rust Dublin" description="" keywords="rust,rs,rust dublin,">
  <main class="pt-16 px-8">
    <section class="flex relative h-[100vh] items-center justify-between">
      <div class="lg:w-96">
        <h1 class="text-4xl lg:text-6xl pb-3 font-bold uppercase">
          Rust Dublin<br />is back for 2024
        </h1>
        <p class="pb-3">
          Join our vibrant community of passionate developers and enthusiasts
          exploring the power and potential of the Rust programming language.
        </p><div class="flex gap-4">
          <a
            href="#"
            class="bg-pink px-5 py-3 rounded-full font-bold drop-shadow-[3px_4px_rgba(0,0,0,1)] text-base"
            style="height: 0%;">See Schedule</a
          >
          <a href="/sponsors"
            class="px-5 py-3 rounded-full border-[1.5px] border-blk font-bold text-sm lg:text-base"
            >Sponsor Event</a
          >
        </div>
      </div>
      <div id="sponsors" class="absolute top-auto bottom-0 left-0 right-0 flex flex-col">
        <h4 class="text-center text-xl lg:text-3xl font-bold pb-4">
          Our Wonderful Sponsors
        </h4>
        <div class="flex flex-col lg:flex-row gap-2 px-20 justify-around">
          <img
            src="/sponsors/evervault/logo.png"
            loading="lazy"
            sizes="(max-width: 767px) 76.796875px, 133.09375px"
            alt=""
            class="spns-imgs"
          /><img
            src="/sponsors/martinsenmayer/logo.svg"
            loading="lazy"
            alt=""
            class="spns-imgs"
          /><img
            src="/sponsors/rustfdn/logo.svg"
            loading="lazy"
            sizes="(max-width: 767px) 104.84375px, 181.703125px"
            alt=""
            class="spns-imgs"
          />
        </div>
      </div>
    </section>
    <section class="flex flex-col lg:flex-row justify-between py-14 mt-14">
      <div class="pb-3 sm:w-2/6 lg:w-2/5 text-3xl lg:text-7xl font-bold">
        <h1 class="">Get Ready for the next meetup</h1>
      </div>
      <div class="dates">
        <h1 class="text-3xl lg:text-5xl font-bold mb-3 uppercase">Upcoming Events</h1>
        <div>
          <div
            class="py-6 flex justify-between gap-16 border-t-[1px] border-[rgba(0,0,0,0.15)]"
          >
            <div class="flex gap-4">
              <div class="font-bold uppercase">
                A reverse proxy with Tower and Hyperv1
              </div>
              <div class="">16/04</div>
            </div><div>GET TIKETS</div>
          </div>

          <div
            class="py-6 flex justify-between gap-16 border-t-[1px] border-[rgba(0,0,0,0.15)]"
          >
            <div class="flex gap-4">
              <div class="font-bold uppercase">
                A reverse proxy with Tower and Hyperv1
              </div>
              <div class="">16/04</div>
            </div><div>GET TIKETS</div>
          </div>
        </div>
      </div>
    </section>
    <section class="flex flex-col py-8 items-center content-center">
      <h1 class="text-3xl lg:text-5xl font-bold pb-5 font-alfa-slab">
        Why Rust Dublin
      </h1>
      <div class="flex flex-col lg:flex-row gap-3">
        <div class="flex flex-col items-center">
          <h4 class="font-semibold">Expert Speakers</h4>
          <p class=" text-center">
            Prepare for a burst of inspiration as industry leaders share the
            latest innovations in Rust. Our expert speakers will enlighten and
            empower you with their insights and expertise.
          </p>
        </div><div class="flex flex-col items-center">
          <h4 class="font-semibold">Mini Masterclasses</h4><p class=" text-center">
            Elevate your Rust skills with hands-on workshops led by seasoned
            developers. Dive deep into practical exercises and emerge with
            newfound confidence and proficiency in Rust.
          </p>
        </div><div class="flex flex-col items-center">
          <h4 class="font-semibold">Next-level Networking</h4><p class=" text-center">
            Ignite your network with fellow Rust enthusiasts at our unique
            Dublin events. Connect, collaborate, and share ideas in an
            atmosphere buzzing with energy and enthusiasm.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  .spns-imgs {
    object-fit: contain;
    height: 2.6rem;
  }
</style>
