---

---

<footer class="py-4 px-8 flex justify-between bg-blk text-wh">
  <div class="">
    <div class="flex flex-col">
      <h1 class="text-2xl pt-5 font-alfa-slab">About</h1>
      <a href="/speakers">Speakers</a>
      <a href="/schedule">Schedule</a>
      <a href="/sponsors">Sponsors</a>
      <a href="https://www.meetup.com/rust-dublin/">Tickets</a>
    </div>
    <div class="flex flex-col">
      <h1 class="text-2xl pt-5 font-alfa-slab">Stay informed</h1>
      <a href="https://twitter.com/RustDublin">Twitter</a>
      <a href="https://www.youtube.com/@rustdublin5482">Youtube</a>
      <a href="https://www.meetup.com/rust-dublin/">Meetup</a>
      <a href="/conduct">Code of Conduct</a>
    </div>
    <div class="flex flex-col">
      <h1 class="text-2xl pt-5 font-alfa-slab">Contact</h1>
      <a href="/sponsors">Become a Sponsor</a>
      <a href="mailto:ekarademir@gmail.com">Email Us</a>
    </div>
  </div>
  <div class="flex justify-center items-end">
    <h1 class="text-9xl">Rust Dublin</h1>
  </div>
</footer>
