---

---

<footer class="py-4 px-8 flex justify-between bg-blk text-wh">
  <div class="">
    <div>
      <h1 class=" text-2xl pt-5 font-alfa-slab">About</h1><div>Speakers</div><div>Schedule</div><div>
        Sponsors
      </div><div>Tickets</div>
    </div><div>
      <h1 class=" text-2xl pt-5 font-alfa-slab">Stay informed</h1><div>Twitter</div><div>Youtube</div><div>
        Meetup
      </div><div>Code of Conduct</div>
    </div><div>
      <h1 class=" text-2xl pt-5 font-alfa-slab">Contact</h1><div>Become a Sponsor</div><div>Email Us</div>
    </div>
  </div>
  <div class="flex justify-center items-end"><h1 class=" text-9xl">Rust Dublin</h1></div>
</footer>
